
html {
    scroll-behavior: smooth;
}

.poem {
    text-align: center;
}

body {
    background-color:cornflowerblue;
    font-family:'Times New Roman', Times, serif;
    color: black;
}

article {
    width: 700px;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h1, h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:thistle; 
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    display: block;
    border: 1px solid thistle;
    margin-bottom: 5px;
    padding: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;

}

img {
    display: block;
    margin: auto;
}


nav ul li a:hover{
    background-color:thistle;
    color: cornflowerblue;
    border: 1px solid thistle;
}

blockquote {
    text-align: center;
}

footer {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 30px;
}