html {
    scroll-behavior: smooth;
}


body {
    background-color: mintcream;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666;
    

}
article {
    width: 700px;
    margin: auto;
    background-color: white;  
    padding: 20px; 
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid blue; 
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    border-bottom: 2px dotted;
    padding-bottom: 10px;

}

.introduction{ 
    font-size: 1.8em;
    line-height: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    
}

nav ul li a {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color:darkolivegreen;
    font-size: 1.2em;
    line-height: 2em;
    display: block;
    border: 1px solid purple;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eacef6;
    border-radius: 5px;



}

nav ul li a:hover{
    background-color: darkolivegreen;
    color: white;
    border: 1px solid darkgreen;
}

footer a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 20px;
}